html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.speacial-heading {
  font-size: 40px;
  font-weight: normal;
  position: relative;
  display: inline-block;
}

.speacial-heading + hr {
  width: 125px;
  border-color: black;
  margin-bottom: 30px;
  position: relative;
}

.speacial-heading + hr::after {
  content: '';
  position: absolute;
  top: -8px;
  right: 40%;
  margin: 0;
  padding: 0;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
}

.speacial-heading + hr + p {
  color: #777;
  max-width: 500px;
  text-align: center;
  line-height: 2;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 40px;
}

header {
  width: 100%;
  position: absolute;
}

header .container {
  padding: 30px 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .container::after {
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 100%;
  right: 10px;
  margin: 0px;
  padding: 0px;
  width: calc(100% - 20px);
  border: 1px solid #a2a2a2;
}

header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

header .container nav i {
  color: white;
  font-size: 23px;
}

header .container nav .search-icon {
  border-left: 1px solid white;
  padding: 1px 10px 1px 15px;
  margin-left: 25px;
}

header .container nav .links .menu-nav {
  display: none;
}

header .container nav .links ul {
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .container nav .links ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  font-size: 14px;
}

header .container nav .links ul li a:hover,
header .container nav .links ul li .active {
  color: #19c8fa;
}

header .container nav .links ul li a:hover::after,
header .container nav .links ul li .active::after {
  content: "";
  z-index: 2;
  position: absolute;
  top: 180%;
  right: 0%;
  margin: 0px;
  padding: 0px;
  width: 98%;
  border: 1px solid #19c8fa;
  opacity: 0.5;
}

@media (max-width: 767px) {
  header .container nav .links ul {
    display: none;
  }
  header .container nav .links .menu-nav {
    display: inline-block;
  }
  header .container nav .links:hover ul {
    display: block;
    position: absolute;
    top: calc(100% + 10px);
    right: 40%;
    margin: 0px;
    padding: 0px;
    min-width: 200px;
    border-radius: 3px;
    background-color: #0f748f;
    z-index: 3;
  }
  header .container nav .links:hover ul::after {
    content: "";
    content: "";
    border: 10px solid;
    border-color: transparent transparent #0f748f;
    position: absolute;
    right: 15%;
    top: -20px;
  }
  header .container nav .links:hover ul li a {
    font-size: 17px;
  }
  header .container nav .links:hover ul li a:hover {
    padding-left: 25px;
  }
  header .container nav .links:hover ul li a::after {
    display: none;
  }
}

.landing {
  background-image: url("../image/landing.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: -1;
}

.landing .text-box {
  width: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.landing .text-box .text {
  max-width: 500px;
  color: white;
}

.landing .text-box .text h2 {
  font-weight: normal;
  line-height: 1.5;
  font-size: 32px;
  margin-bottom: 20px;
}

.landing .text-box .text p {
  line-height: 1.8;
  font-size: 14px;
}

@media (max-width: 767px) {
  .landing .text-box {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing .text-box .text {
    max-width: 100%;
  }
}

.landing .arrows {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  color: white;
}

@media (max-width: 767px) {
  .landing .arrows {
    display: none;
  }
}

.landing ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style: none;
}

.landing ul li {
  height: 20px;
  width: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 15px;
}

.landing ul li:nth-child(2) {
  border: 1px solid #19c8fa;
  background-color: #19c8fa;
}

.services {
  padding: 60px 0;
}

.services .container .service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(450px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 30px;
}

.services .container .service > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.services .container .service > div i {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}

.services .container .service > div div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.services .container .service > div div h3 {
  color: #19c8fa;
  margin-bottom: 30px;
}

.services .container .service > div div p {
  line-height: 2;
  color: #777;
}

@media (max-width: 767px) {
  .services .container .service > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .services .container .service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .services .container .service > div {
    width: 100%;
  }
}

.feature {
  padding: 60px 0;
  background-image: url("../image/design-features.jpg");
  background-size: cover;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.feature .overlay {
  top: 0;
}

.feature .text-box {
  position: absolute;
  top: 120px;
  right: 0px;
  margin: 0px;
  padding: 0px;
  width: 53%;
  color: white;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature .text-box .text {
  width: 500px;
}

.feature .text-box .text h2 {
  font-weight: normal;
  margin-bottom: 50px;
}

.feature .text-box .text ul {
  list-style: none;
  margin-left: -30px;
}

.feature .text-box .text ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
}

.feature .text-box .text ul li i {
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
}

.feature .text-box .text ul li p {
  font-size: 17px;
  margin-top: -5px;
}

.feature img {
  position: absolute;
  top: 30%;
  right: 120%;
  margin: 0px;
  padding: 0px;
}

@media (max-width: 767px) {
  .feature img {
    display: none;
  }
  .feature .text-box {
    min-width: 100%;
  }
}

.portfolio .header {
  text-align: center;
}

.portfolio .header ul {
  list-style: none;
  margin: 100px 0 30px 0;
}

.portfolio .header ul li {
  display: inline-block;
  padding-left: 20px;
  cursor: pointer;
}

.portfolio .header ul li:nth-child(2) {
  padding-left: 10px;
}

.portfolio .header ul li:first-child {
  background-color: #19c8fa;
  color: white;
  padding: 10px;
}

.portfolio .images {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 5px;
}

.portfolio .images .img-box {
  overflow: hidden;
}

@media (min-width: 1099px) {
  .portfolio .images .img-box {
    height: 250px;
  }
}

.portfolio .images .img-box img {
  max-width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio .images .img-box p {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 15px 20px;
  z-index: 5;
  line-height: 1.8;
  background-color: #fff;
}

.portfolio .images .img-box p span {
  color: #19c8fa;
}

.portfolio .images .img-box:hover p {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.portfolio .images .img-box:hover img {
  -webkit-transform: scale(1.1) rotate(5deg);
          transform: scale(1.1) rotate(5deg);
}

.portfolio button {
  margin: 40px 0 100px 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 15px 25px;
  background-color: #19c8fa;
  outline: none;
  border: none;
}

.portfolio button a {
  color: white;
  text-decoration: none;
}

.awesome-video {
  position: relative;
}

.awesome-video video {
  width: 100%;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

.awesome-video .text-box {
  position: absolute;
  top: 50%;
  right: 0px;
  margin: 0px;
  padding: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 50px;
}

.awesome-video .text-box h2 {
  color: white;
  font-weight: normal;
}

.awesome-video .text-box p {
  color: white;
  padding: 30px;
}

.awesome-video .text-box button {
  padding: 10px 30px;
  background-color: black;
  outline: none;
  border: none;
}

.awesome-video .text-box button a {
  color: white;
  text-decoration: none;
}

.about {
  overflow: hidden;
  padding: 60px 0 0;
  max-height: 90vh;
}

.about .container img {
  width: 80vw;
}

.stats {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../image/stats.png);
  background-size: cover;
  position: relative;
}

.stats .container {
  position: relative;
}
/*# sourceMappingURL=style.css.map */