html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  width: 100%;
  position: absolute;
}

header .container {
  padding: 25px 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .container::after {
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 100%;
  right: 10px;
  margin: 0px;
  padding: 0px;
  width: calc(100% - 20px);
  border: 1px solid #a2a2a2;
}

header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

header .container nav i {
  color: white;
  font-size: 23px;
}

header .container nav .search-icon {
  border-left: 1px solid white;
  padding: 10px;
  margin-left: 25px;
}

header .container nav .links .menu-nav {
  display: none;
}

header .container nav .links ul {
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .container nav .links ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  font-size: 14px;
}

header .container nav .links ul li a:hover,
header .container nav .links ul li .active {
  color: #19c8fa;
}

header .container nav .links ul li a:hover::after,
header .container nav .links ul li .active::after {
  content: "";
  z-index: 2;
  position: absolute;
  top: 180%;
  right: 0%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  border: 1px solid #19c8fa;
}

@media (max-width: 767px) {
  header .container nav .links ul {
    display: none;
  }
  header .container nav .links .menu-nav {
    display: inline-block;
  }
  header .container nav .links:hover ul {
    display: block;
    position: absolute;
    top: calc(100% + 10px);
    right: 40%;
    margin: 0px;
    padding: 0px;
    min-width: 200px;
    border-radius: 3px;
    background-color: #0f748f;
    z-index: 3;
  }
  header .container nav .links:hover ul::after {
    content: "";
    content: "";
    border: 10px solid;
    border-color: transparent transparent #0f748f;
    position: absolute;
    right: 15%;
    top: -20px;
  }
  header .container nav .links:hover ul li a {
    font-size: 17px;
  }
  header .container nav .links:hover ul li a:hover {
    padding-left: 25px;
  }
  header .container nav .links:hover ul li a::after {
    display: none;
  }
}

.landing {
  background-image: url("../image/landing.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: -1;
}

.landing .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.landing .text-box {
  width: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.landing .text-box .text {
  max-width: 500px;
  color: white;
}

.landing .text-box .text h2 {
  font-weight: normal;
  line-height: 1.5;
  font-size: 32px;
  margin-bottom: 20px;
}

.landing .text-box .text p {
  line-height: 1.8;
  font-size: 14px;
}

@media (max-width: 767px) {
  .landing .text-box {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing .text-box .text {
    max-width: 100%;
  }
}

.landing .arrows {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  color: white;
}

@media (max-width: 767px) {
  .landing .arrows {
    display: none;
  }
}

.landing ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style: none;
}

.landing ul li {
  height: 20px;
  width: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 15px;
}

.landing ul li:nth-child(2) {
  border: 1px solid #19c8fa;
  background-color: #19c8fa;
}

.services {
  padding: 60px 0;
}

.services .container .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 40px;
}

.services .container .service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
}

.services .container .service > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.services .container .service > div i {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}

.services .container .service > div div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.services .container .service > div div h3 {
  color: #19c8fa;
  margin-bottom: 30px;
}

.services .container .service > div div p {
  line-height: 2;
  color: #777;
}

@media (max-width: 767px) {
  .services .container .service > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: center;
  }
}

.speacial-heading {
  font-size: 40px;
  font-weight: normal;
  position: relative;
  padding: 35px 0;
  display: inline-block;
}

.speacial-heading::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 25px;
  margin: 0px;
  padding: 0px;
  width: 120px;
  border: 1px solid black;
  z-index: 2;
}

.speacial-heading::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  top: 92.5%;
  right: 48%;
  margin: 0px;
  padding: 0px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  background-color: white;
  z-index: 3;
}

.speacial-heading + p {
  color: #777;
  margin-top: 25px;
  max-width: 500px;
  text-align: center;
  line-height: 2;
}
/*# sourceMappingURL=style.css.map */